In [ ]:
1. What exactly is []?

ANS:
    [] is the square bracket which is to be enclosed for list seperated with comma with series of data
    ex - a=[1,23,4,5,6]

In [ ]:
2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? 
(Assume [2, 4, 6, 8, 10] are in spam.)

In [4]:
ANS:
spam = [2,4,6,8,10]
spam[2] = 'hello'
print (spam)

[2, 4, 'hello', 8, 10]

# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [ ]:
3. What is the value of spam[int(int('3' * 2) / 11)]?

In [6]:
ANS:
spam = ['a', 'b', 'c', 'd'] 
print(spam[int(int('3' * 2) / 11)])

d

In [ ]:
4. What is the value of spam[-1]?

In [11]:
ANS:
spam[-1]

'd'

In [ ]:
5. What is the value of spam[:2]?

In [12]:
ANS:
    spam[:2]
    #The range function starts from '0' index to '2'  excluding the upper bound

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [ ]:
6. What is the value of bacon.index('cat')?

In [7]:
ANS:
#bacon = [3.14, 'cat,' 11, 'cat,' True] #copied question is wrong, string Qoutes are after comma.
bacon = [3.14, 'cat', 11, 'cat', True] #created question
print(bacon.index('cat'))

The value of bacon.index("cat") is 1 # it is consider index as 0,1,2,3,4 which starts from 0

1

In [ ]:
7. How does bacon.append(99) change the look of the list value in bacon?

In [9]:
ANS:
bacon = [3.14, 'cat', 11, 'cat', True]
(bacon.append(99))
print(bacon)

It changes the look by appending given value at the end of the list

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
8. How does bacon.remove('cat') change the look of the list in bacon?

In [10]:
ANS:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
print(bacon)

The above operation removes only one value "cat" from the list eventhough it has two same values.

[3.14, 11, 'cat', True]

In [ ]:
9. What are the list concatenation and list replication operators?

In [ ]:
ANS:
The operator for list concatenation is "+", and for list replication is "*"

In [ ]:
10. What is difference between the list methods append() and insert()?

In [24]:
ANS:
#The difference between list method and append () and insert() is
l = [1,2,3,4,5,6]
l.append("syed")
print(l)
The above Query appends the new value at the last

l.insert(0, "syed")
print(l)
The above query inserts the new value by doing indexing '0' at the first

[1, 2, 3, 4, 5, 6, 'syed']
['syed', 1, 2, 3, 4, 5, 6, 'syed']

In [ ]:
11. What are the two methods for removing items from a list?

In [42]:
#ANS:
#The methods are remove(), pop(), clear()
l = [1,2,3,4,5,6,7,8,23]
l.remove(3)
print(l) # Here the remove() operation removes the value "3" directly from the list l.

l.pop(6)
print(l) # Here the pop() operation removes the value "8" available at 6 index.default will be the last value of a list.

l.clear()
print(l) # Here the clear() operation clears all the elements from the list l.

[1, 2, 4, 5, 6, 7, 8, 23]
[1, 2, 4, 5, 6, 7, 23]
[]

In [ ]:
12. Describe how list values and string values are identical.

In [ ]:
#ANS:
The similarity between Lists and Strings in Python is that both are sequences. 
the Lists are mutable but Strings are immutable and elements of a list can be of different types,
whereas String only contains characters that are all of String type.

In [ ]:
13. What's the difference between tuples and lists?

In [ ]:
ANS:
    The tuples are immutable and the List are mutable
the List is written in square brackets [ ] and Tuples are written in Parenthesis ( ). 
we cannot make changes in tuples, whereas we can make changes in List

In [ ]:
14. How do you type a tuple value that only contains the integer 42?

In [48]:
ANS:
    By mentioning comma after the int within parenthesis below:
        
tuple=(42)
type(tuple)

int

In [49]:
tuple=(42,)
type(tuple)

tuple

In [ ]:
15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [6]:
ANS:
l=[[28],[34],[55],["syed"]]
a=list(map(tuple,l))
print(a) 
we can use the map function to convert list to tuple.

l1=((28),(34),(55),("syed"))
a1 = list(map(tuple,l))
print(a1) 
we can use the map function to convert list to tuple.

[(28,), (34,), (55,), ('syed',)]
[(28,), (34,), (55,), ('syed',)]

In [ ]:
16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [ ]:
ANS:
The most common way to declare a list in Python is to use square brackets.
A list is a data structure in Python that contains an ordered sequence of zero or more elements. 
Lists in Python are mutable, which means they can be changed. They can contain any type of data, 
like a string or a dictionary.

In [ ]:
17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [7]:
ANS:

import copy

In [13]:
a = [[1,2,3],[4,5,6],[7,8,9]]
a1 = copy.copy(a)

a[1][1] = 'AA'

print(a)
print(a1)

[[1, 2, 3], [4, 'AA', 6], [7, 8, 9]]
[[1, 2, 3], [4, 'AA', 6], [7, 8, 9]]

In [ ]:
ANS:
    In above programme, we created a nested list and then copy it using copy() method.
    A copy.copy() creates a new object which stores the reference of the original elements.
    we made changes to a i.e a[1][1] = 'AA'. Both sublists of a and a1 at index [1][1] were modified.
    This is because, both lists share the reference of same nested objects.

In [14]:
b = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
b1 = copy.deepcopy(b)

b[1][1] = 'AA'

print(b)
print(b1)

[[1, 1, 1], [2, 'AA', 2], [3, 3, 3]]
[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
In the above program,A deep copy creates a new object and recursively adds the copies of nested objects present in the 
original elements.when we assign a new value to old_list, we can see only the b is modified. 
This means, both the b and the b1 are independent. This is because the b was recursively copied,
which is true for all its nested objects.